html,body{
    margin:0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    width: 100%;
    background-color: whie;
    height: 100%;
    background-color: rgb(231, 234, 111);
    /* overflow: hidden; */
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
}

.table{
    width: 250px;
    height: 250px;
    margin: 60px 40%;
    background-color: greenyellow;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}


.Player{
    display: flex;
    justify-content: center;
    margin: 50px;
}

#reset{
    padding: 4px;
    font-size: -10px;
    cursor: pointer;
    margin-left: 45%;
}

.cell{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:nth-child(3n){
    border-right: none;
}
.cell:nth-child(n+7){
    border-bottom: none;
}

.cell.highlight{
    background-color: blue;
}
